* {
    font-family: 'Playfair Display', serif;
}

.container-fluid {
    background-color: rgb(240, 240, 239);
}

.list-dashboard {
    min-height: 100vh;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 1;
    width: 158px;
}

.list-group {
    border-radius: 0;
    text-align: center;
}

.list-group a {
    text-decoration: none;
}

.list-group-item {
    border: 0px;
    padding: 20px 20px;
    cursor: pointer;
    font-size: 15px;
    color: rgb(151, 155, 155);
}

.list-group-item:hover {
    /* opacity: 0.5; */
    background-color: rgb(238, 240, 240);
    color: rgb(19, 241, 74);
}

.navbar-dashboard {
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 10px 20px;
    padding-left: 50px;
}

.total {
    background-color: rgb(247, 151, 41);
    border-radius: 50%;
    padding: 10px;
    width: 180px;
    height: 70px;
    margin-top: 10px;
    display: inline-block;
}

.total-img {
    display: inline-block;
    position: absolute;
}

.total-wallet {
    display: inline-block;
    margin-left: 60px;
}

.add-wallet {
    display: inline-block;
    margin-top: -30px;
    margin-left: 20px;
    color: aliceblue;
}

.total-down:hover {
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.total-budget {
    color: green;
}

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #7e40f6;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(126, 64, 246, 1), rgba(80, 139, 252, 1));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(126, 64, 246, 1), rgba(80, 139, 252, 1))
}

.mask-custom {
    background: rgba(24, 24, 16, .2);
    border-radius: 2em;
    backdrop-filter: blur(25px);
    border: 2px solid rgba(255, 255, 255, 0.05);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

.icon-transaction {
    width: 30px;
    height: 25px;
}

.layout-modal {
    position: fixed;
    /* vị trí cố định */
    z-index: 20;
    /* Ưu tiên hiển thị trên cùng */
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);
}

.inactive {
    display: none!important;
}

.modal1 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.modal-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(100, 94, 94, 0.3);
    z-index: 999998;
}

.line {
    display: inline-block;
    width: 150px;
    height: 30px;
    border-radius: 15px;
    background-color: rgb(137, 78, 247);
    position: relative;
    top: 250px;
    left: 40%;
    z-index: 999999;
}

.load-2 .line:nth-last-child(1) {
    animation: loadingB 1.5s 1s infinite;
}

.load-2 .line:nth-last-child(2) {
    animation: loadingB 1.5s 0.5s infinite;
}

.load-2 .line:nth-last-child(3) {
    animation: loadingB 1.5s 0s infinite;
}

@keyframes loadingB {
    0% {
        width: 100px;
    }
    50% {
        width: 150px;
        background-color: rgb(253, 55, 55);
    }
    100% {
        width: 100px;
        background-color: rgb(76, 248, 119);
    }
}