.box-modal-transaction {
    position: fixed;
    /* vị trí cố định */
    z-index: 50;
    /* Ưu tiên hiển thị trên cùng */
    padding-top: 10px;
    left: 40%;
    width: 500px;
    height: 500px;
    border-radius: 5px;
    box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.3);
    background-color: rgb(255, 255, 255);
}

.rounded-lg {
    border-radius: 1rem;
}

.nav-pills .nav-link {
    color: #555;
}

.nav-pills .nav-link.active {
    color: #fff;
}

.form-group-check {
    display: flex;
}

.wallet-details-transaction {
    width: 500px;
}

.wallet-details-origin {
    width: 100%;
    text-align: left;
    margin-right: 10px;
}

input[type='dateTime-local'] {
    font-size: 18px;
    cursor: pointer;
}

.box-modal-wallet-details {
    position: fixed;
    /* vị trí cố định */
    z-index: 51;
    /* Ưu tiên hiển thị trên cùng */
    padding-top: 10px;
    top: 120px;
    left: 38%;
    width: 550px;
    height: 450px;
    border-radius: 5px;
    box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.3);
    background-color: rgb(255, 255, 255);
}

.wallet-details-exit {
    display: inline-block;
    position: absolute;
    top: -10px;
    right: -5px;
    text-align: center;
    font-size: 30px;
    color: #ff0000;
    display: inline-block;
}

.wallet-details-exit:hover {
    cursor: pointer;
    opacity: 0.5;
}