.wallet-layouts {
    background-color: rgb(33, 31, 35);
    background-repeat: no-repeat;
    background-image: radial-gradient(circle at top, rgb(243, 229, 252) 0, rgb(229, 195, 252) 70%);
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 100%;
    min-height: 100%;
    line-height: 1.5;
    padding: 2.5em 0;
}

figure {
    float: left;
    height: 6em;
    margin: 20px 30px 100px;
    width: 250px;
    transform: perspective(500px);
    -webkit-transform: perspective(500);
    transform-style: preserve-3d;
    ;
    -webkit-transform-style: preserve-3d;
    transition: .5s;
    -webkit-transition: .5s;
}

figure:hover {
    transform: perspective(500) rotateX(90deg) translateY(-3em) translateZ(3em);
    -webkit-transform: perspective(500) rotateX(90deg) translateY(-3em) translateZ(3em);
    cursor: pointer;
}

.wallet-layouts .img {
    border-radius: 5px;
    /* background-image: linear-gradient(#40e0d0, #ff8c00, #ff0080); */
    background-image: url('https://cdn3d.iconscout.com/3d/premium/thumb/wallet-5654701-4712957.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow: 0 20px 15px -10px hsla(0, 0%, 0%, .25);
    display: block;
    width: 100%;
    height: 100%;
    transition: .5s;
    -webkit-transition: .5s;
}

figure:hover .img {
    box-shadow: none;
}

.img img {
    width: 100%;
    height: 66px;
}

.img h3 {
    height: 30px;
    text-align: center;
    color: hwb(140 15% 0%);
    font-weight: bold;
}

figcaption {
    width: 250px;
    border-radius: 5px;
    /* background-color: rgb(255, 0, 0); */
    background-image: linear-gradient(#355c7d, #6c5b7b, #c06c84);
    color: #fff;
    padding: 1.5em;
    transform: rotateX(-90deg);
    -webkit-transform: rotateX(-90deg);
    transform-origin: 100% 0;
    ;
    -webkit-transform-origin: 100% 0;
    transition: .5s;
    -webkit-transition: .5s;
}

figure:hover figcaption {
    box-shadow: 0 20px 15px -10px hsla(0, 0%, 0%, .25);
    cursor: pointer;
}

figcaption h3 {
    font-weight: bold;
    font-size: 16px;
}

figcaption p {
    font-weight: bold;
    font-size: 13px;
}

.wallet-child {
    height: 80px;
}

.wallet-child .img {
    /* background-image: linear-gradient(#c6ffdd, #fbd786, #f7797d); */
    /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzv_c6uo1ZaLBer3ICob6ZH85H-ZdHQT9JIA&usqp=CAU'); */
    background-image: url('https://cdn3d.iconscout.com/3d/premium/thumb/wallet-4454360-3718869.png');
}

.wallet-child img {
    width: 100%;
    height: 51px;
}

.wallet-child h4 {
    height: 21px;
    text-align: center;
    color: #dd096c;
    font-weight: bold;
}

.btn-wallet-layouts {
    width: 100%;
}