figure {
    float: left;
    height: 6em;
    margin: 1.5em;
    width: 12em;
    transform:perspective(500);
    -webkit-transform: perspective(500);
    transform-style: preserve-3d;;
    -webkit-transform-style: preserve-3d;
    transition:.5s; 
    -webkit-transition: .5s;
}
figure:hover {
    transform: perspective(500) rotateX(90deg) translateY(-3em) translateZ(3em);
    -webkit-transform: perspective(500) rotateX(90deg) translateY(-3em) translateZ(3em);
}
.wallet-layouts img {
    background-color: #222;
    box-shadow: 0 20px 15px -10px hsla(0,0%,0%,.25);
    display: block;
    height: 100%;
    transition:.5s; 
    -webkit-transition: .5s;
}
figure:hover img {
    box-shadow: none;
}
figcaption {
    background-color: #222;
    color: #fff;
    padding: 1.5em;
    transform:rotateX(-90deg);
    -webkit-transform: rotateX(-90deg);
    transform-origin:100% 0; ;
    -webkit-transform-origin: 100% 0;
    transition:.5s; 
    -webkit-transition: .5s;
}

figure:hover figcaption {
    box-shadow: 0 20px 15px -10px hsla(0,0%,0%,.25);
}

h3 {
    font-weight: bold;
}